<div class="container" fxLayout="column">
  <div fxFlex="20" fxLayoutAlign="space-around center">
    <h3>Account balance ${{ appService.balance }}</h3>
  </div>
  <div fxFlex="20" fxLayoutAlign="space-around center">
    <button type="button" class="btn btn-secondary w-50 mx-1">Pay Manually</button>
    <button type="button" class="btn btn-primary w-50 mx-1" (click)="onPayWithQRClick()">Pay with QR</button>
  </div>
  <div fxFlex="20" fxLayoutAlign="space-around center">
    <button type="button" class="btn btn-secondary w-100 mx-1" (click)="onTransactionClick()">Transactions</button>
  </div>
  <p></p>
</div>
