<div class="container" fxLayout="column">
  <div fxFlex="20" fxLayoutAlign="space-around center">
    <h3>Payment information found in QR Code:</h3>
  </div>
  <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-around center">
    <input placeholder="Recipient Bank Account #">
    <input placeholder="Variable Symbol">
    <input placeholder="Amount to send">
  </div>
  <div fxFlex="20" fxLayoutAlign="space-around center">
    <button type="button" class="btn btn-secondary" (click)="onCancelClick()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSendClick()">Send</button>
  </div>
</div>
