<div class="container" fxLayout="column">
  <div fxFlex="20" fxLayoutAlign="space-around center">
    <h3>Account balance ${{ appService.balance }}</h3>
  </div>
  <div fxFlex="20" fxLayoutAlign="space-around center">
    <button type="button" class="btn btn-secondary w-50 mx-1">Pay Manually</button>
    <button type="button" class="btn btn-primary w-50 mx-1" (click)="onPayWithQRClick()">Pay with QR</button>
  </div>
  <div fxFlex="20" fxLayoutAlign="space-around center">
    <mat-form-field class="w-75 mx-1">
      <mat-label>Transaction Search</mat-label>
      <input matInput>
    </mat-form-field>
    <button type="button" class="btn btn-secondary w-25 mx-1" (click)="onSearchClick()">Search</button>
  </div>
  <div fxFlex="30" fxLayoutAlign="space-around start" class="mx-2">
    <app-transaction-list [transactions]="appService.transactions"></app-transaction-list>
  </div>
  <p></p>
</div>
