<div class="container" fxLayout="column">
  <div fxFlex="20" fxLayoutAlign="space-around center">
    <h3>Account balance $1000</h3>
  </div>
  <div fxFlex="20" fxLayoutAlign="space-around center">
    <button type="button" class="btn btn-secondary w-25">Pay Manually</button>
    <button type="button" class="btn btn-primary w-25" (click)="onPayWithQRClick()">Pay with QR</button>
  </div>
  <div fxFlex="20" fxLayoutAlign="space-around center">
    <input placeholder="Transaction Search" class="w-25">
    <button type="button" class="btn btn-secondary w-25">Search Now</button>
  </div>
  <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-around start">
    <p>Item1</p>
    <p>Item2</p>
    <p>Item3</p>
    <p>Item4</p>
  </div>
  <p></p>
</div>
